.hometext{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.homeRow1 {
  font-size: 50px;
  margin-bottom: 0px;
  color: #141D48;
}
 
.homeItem1 {
  height: 400px;
  text-align: left;
  background-color: #9dadd2;
  padding: 50px 100px 50px 100px;
}
 
.textVariant1 {
  color: white;

}
 
.textVariant2 {
  font-size: 25px;
}
 
.homeButton {
  font-size: 20px;
  text-transform: none;
  background-color: #5e80cf;
  color: white;
}
.homeButton:hover {
  color: #141D48;
  background-color: #ffffff;
}
.image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  position: absolute;
  top: 270px;
  right: 20px;
  transform: translate(-50%, -50%);
}
.homeRow2 {
  font-size: 40px;
  margin-bottom: 30px;
  color: #141D48;
  text-align: center;
}
.homeItem2 {
  height: 550px;
  text-align: left;
  background-color: #ffffff;
}
.cardText{
  font-size: 25px;
  text-align: center;
  color: #141D48;
}
.homecard{
  width: 500px;
  height: 200px;
}
.homeCard{
  height: 150px;
  color: #141D48;
}
 
.connectingButtonPos{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 0 30px;
}
.homeItem3-1,
.homeItem3-2 {
  height: 500px;
  background-color: #141D48;
  color: #ffffff;
}

@media (max-width: 600px) {
  .homeItem3-1 {
    padding: 80px 50px 50px 50px; 
  }
  .homeItem3-2 {
    padding: 60px 30px 30px 30px; 
  }
}

@media (min-width: 601px) {
  .homeItem3-1 {
    padding: 80px 50px 50px 80px; 
  }
  .homeItem3-2 {
    padding: 80px 50px 50px 50px;
  }
}

.homeRow3Col1Padding{
  padding-top: 50px;
}
.homeRow3Col1{
  font-family: "Leckerli One", cursive;
  font-weight: 1000;
  font-style: normal;
  font-Size: 100px;
  color: #ffffff;
}
.homeRow3Col2{
  font-size: 20px;
  letter-spacing: 10px;
  color: #ffffff;
}
.aboutUsText1{
  font-size: 20px;
  color: #ffffff;
}
.aboutUsText2{
  font-size: 40px;
  color: #ffffff;
  font-weight: 800;
}
.aboutUsText3{
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  justify-content: baseline;
 
}
.homeItem4 {
  height: 500px;
  padding: 100px 50px 50px 50px;
}
.homeItem4Container{
  height: 263px;
  background-color:#9dadd2;
  border-radius: 20px 20px 0px 0px;
  padding-top: 50px;
  padding-left: 500px;
}
.homeItem4ContainerText {
  font-size: 30px; 
  font-weight: 600;
  color: #ffffff;
}
@media (max-width: 600px) {
  .homeItem4ContainerText {
    font-size: 20px;
  }
}
.homeItem4Container2{
  height: 34px;
  background-color:#425788;
  border-radius: 0px 0px 20px 20px;
}
.image2 {
  width: 200px;
  height: 400px;
  object-fit: cover;
  position: absolute;
  top: 1730px;
  left: 300px;
  transform: translate(-50%, -50%);
}

.homeItem4Button{
  display: flex;
}
.homeItem4Button1{
  height: 80px;
  width: 220px;
  color: #ffffff;
  background-color: #000000;
  padding: 15px;
  margin-left: 100px;
  border-radius: 20px;
  display: flex;
  
}

.homeItem4ButtonImg{
  height: 50px;
  padding-left: 0px 5px 0px 0px;
  margin-right: 10px;
}